streamlit==1.38.0
mysql-connector-python==9.0.0
bcrypt==4.2.0
opencv-python==4.10.0.84
ultralytics==8.2.103
easyocr==1.7.2
sentence-transformers==3.1.1
numpy==1.26.4
scikit-learn==1.5.2
SpeechRecognition==3.10.4
pyttsx3==2.90
pyaudio==0.2.14
python-dotenv==1.0.1
Pillow==10.4.0
requests==2.32.3
gTTS==2.5.3
deep-translator==1.11.4
pygame==2.6.1
streamlit==1.38.0